
.cart-nav{
    display: flex;
    align-items: center;
    gap: 10px;
}

.shopping-cart-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
}

.cart-product-quantity{
    border: 0.5px solid rgba(58, 60, 62, 1);
    /* width:64px;
    height:32px; */
    padding: 8px 32px 8px 32px;
    border-radius: 4px;

}