.slideshow-container {
    /* position: relative; */
    max-width: 600px;
    margin: auto;
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #f3f3f3;
    position: relative;
  }
  
  .slide-button {
    position: absolute;
    top: -10px !important;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .slide-button:hover {
    background-color: rgba(0, 0, 0);
  }
  
  .slide-button:first-of-type {
    left: 10px;
  }
  
  .slide-button:last-of-type {
    right: 10px;
  }
  