
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  /* line-height: 1.5; */
  font-family: "Montserrat";
}

body {
  height: 100vh;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  background: rgba(255, 255, 255, 1);
  overflow-x: hidden;
}

body a {
  text-decoration: none;
}

.no-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  color: rgb(68, 68, 68);

}
.h {
font-size: 48px;
font-weight: 500;
}
.p {
  font-size: 20px;
  font-weight: 400;
}




